${ capture name="template" }$
<box :title="title">
    <div ref="chart" class="center" style="height:350px;" ></div>
    <spin size="large" fix v-if="spin_show"></spin>
</box>
${ /capture }$
<script type="text/javascript">
    Vue.component('chart-box', {
        data: function () {
            return {
                chart: null,
            }
        },
        computed: {
        },
        props: ['chart_data', 'title', 'spin_show'],
        template: "${ $smarty.capture.template|escape:'javascript' }$",
        watch: {
            chart_data: function (value, old_value) {
                this.chart.clear();
                if (value) {
                    this.chart.setOption(value);
                }
            }
        },
        mounted: function () {
            this.chart = echarts.init(this.$refs.chart);
            if (this.chart_data) {
                this.chart.setOption(this.chart_data);
            }
        },
    });
</script>
