{{ capture name="template" }}
<i-Form inline>
    <template v-for="(item,index) in form_data">
        <template v-if="item.type === 'date'">
            <form-item>
                <date-picker type="date" v-model="item.value" :placeholder="item.placeholder" :clearable=false> </date-picker>
            </form-item>
            <form-item>
                <button-group >
                    <i-button @click="pre_day(index)">
                        <icon type="ios-arrow-back"></icon>
                        前一天
                    </i-button>
                    <i-button @click="next_day(index)">
                        后一天
                        <icon type="ios-arrow-forward"></icon>
                    </i-button>
                </button-group>
            </form-item>
        </template>
        <template v-else-if="item.type === 'daterange'">
            <form-item>
                <date-picker type="daterange" v-model="item.value" :placeholder="item.placeholder" style="width: 220px" :clearable=false> </date-picker>
            </form-item>
        </template>
        <template v-else-if="item.type === 'input'">
            <form-item>
                <i-Input v-model="item.value">
                    <span slot="prepend">${item.name}</span>
                </i-Input>
            </form-item>
        </template>
        <template v-else-if="item.type === 'select'">
            <i-Select v-model="item.value" style="width:200px">
                <i-Option v-for="key,value in item.options" :value="value" :key="key">${ key }</i-Option>
            </i-Select>
        </template>
    </template>
    <form-item>
        <i-button type=primary @click.prevent="search" :loading="loading">
            <span v-if="loading"> Searching </span>
            <span v-else >Search </span>
        </i-button>
    </form-item>
</i-Form>
{{ /capture }}
<script>
    Vue.component('report-query-form', {
        data: function () {
            return {
            }
        },
        created(){
        },
        props: ['form_data', 'loading'],
        delimiters: ['${', '}'],
        template: '{{ $smarty.capture.template|escape:"javascript" }}',
        mounted: function () {
            this.search();
        },
        methods: {
            pre_day: function (index) {
                this.form_data[index].value = moment(this.form_data[index].value).subtract(1, 'days').format('YYYY-MM-DD');
                this.search();
            },
            next_day: function (index) {
                this.form_data[index].value = moment(this.form_data[index].value).add(1, 'days').format('YYYY-MM-DD');
                this.search();
            },
            search: function () {
                let params = {};
                for (let i = 0; i < this.form_data.length; i ++) {
                    let item = this.form_data[i];
                    switch (item.type) {
                        case 'date':
                            item.value = moment(item.value).format('YYYY-MM-DD');
                            break;
                        case 'daterange':
                            item.value[0] = item.value[0] ? moment(item.value[0]).format('YYYY-MM-DD') : '';
                            item.value[1] = item.value[1] ? moment(item.value[1]).format('YYYY-MM-DD') : '';
                            break;
                    }
                    params[item.name] = item.value;
                }
                this.$emit('search', params);
            },
        }
    });
</script>
