${ capture name="template" }$
<div ref="topbox" class="span3 statbox" onTablet="span6" onDesktop="span3" v-cloak>
    <div ref="tooltip" class="boxchart-tooltip"></div>
    <div ref="boxchart" class="boxchart"></div>
    <div class="number">{{number}}</div>
    <div class="title">{{title}}</div>
    <div class="footer">
        <a :href="href">查看详情</a>
    </div>  
</div>
${ /capture }$
<script type="text/javascript">
    Vue.component('stat-box', {
        data: function () {
            return {
                chart: null,
            }
        },
        computed: {
        },
        props: ['stat_data', 'number', 'title', 'href'],
        template: "${ $smarty.capture.template|escape:'javascript' }$",
        watch: {
            stat_data: function (value, old_value) {
                console.log("stat_data change to ");
                console.log(value.keys);
                if (value) {
                    var option = {
                        width: 100,//Width of the chart - Defaults to 'auto' - May be any valid css width - 1.5em, 20px, etc (using a number without a unit specifier won't do what you want) - This option does nothing f
                        height: 55,//Height of the chart - Defaults to 'auto' (line height of the containing tag)
                        lineColor: '#ffffff',//Used by line and discrete charts to specify the colour of the line drawn as a CSS values string
                        fillColor: 'rgba(255,255,255,0.2)',//Specify the colour used to fill the area under the graph as a CSS value. Set to false to disable fill
                        spotColor: '#ffffff',//The CSS colour of the final value marker. Set to false or an empty string to hide it
                        maxSpotColor: '#ffffff',//The CSS colour of the marker displayed for the maximum value. Set to false or an empty string to hide it
                        minSpotColor: '#ffffff',//The CSS colour of the marker displayed for the mimum value. Set to false or an empty string to hide it
                        spotRadius: 0,//Radius of all spot markers, In pixels (default: 1.5) - Integer
                        lineWidth: 2,//In pixels (default: 1) - Integer
                        normalRangeMin: 0,
                        tooltipContainer: this.$refs.tooltip,
                        tooltipClassname: 'stat-box-tooltip',
                        tooltipOffsetX: '10px',
                        tooltipOffsetY: '20px',
                        tooltipFormat: '{{x:levels}} : {{y}}',
                        tooltipValueLookups: {
                            levels: $.range_map(value.keys),
                        }
                    };
                    $(this.$refs.boxchart).sparkline(value.values, option);
                }
            },
        },
        mounted: function () {
        },
    });
</script>
